* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.App {
  width: 300px;
  min-height: 450px;
  margin: 40px auto;
  border: .1px solid #dbd9d9;
  background: #f1f1f1;
}

.App > header {
  height: 30px;
  line-height: 30px;
  text-align: center ;
  font-size: 14px;
}

.App > .mode {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 14px;
}

.mode .cmode {
  padding: 4px 5px;
  border: none;
  outline: none;
  border-radius:  4px;
  background: none;
}

.cmode:hover{
  background: #fff;
}

.cmode.active {
  font-weight: bold;
}

